{% extends 'base.html' %} 
{% load static %} 
{% load prod_extra %} 
{% block x %}
<div class="container mg-tb-2">
  <div class="row">
    <div class="col-md-1">
      <div class="profile-pic">M</div>
    </div>
    <div class="col-md-3 user-info">
        <h2>{{user.username}}</h2>
        <p> {{user.profs.location}}</p>
        <h4>Total Earned: 278$</h4>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">My products</a></li>
        <li role="presentation" ><a href="#">Bought products</a></li>
        <li role="presentation" ><a href="/addproduct" class="btn btn-info add-product">Add products</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      {% for p in prods %}
      <div class="col-md-3">
        <div class="thumbnail" style="background-color: #ECECEC; border: none;">
				  <img src="{{p.img.url}}">
          <div style="display: flex;flex-direction: row; justify-content: space-between; padding-right: 5px; align-items: center; height: fit-content;">
            
              <h4 style="cursor: pointer;" onclick="toggleProdDetail()">{{p.product}}<sup style="color: rgb(110, 110, 110); font-size: small;" id="price">&nbsp;{{p.product.Price}}$</sup></h4>
            <div style="display: inline-flex;">
              <svg style="margin: -2px 5px auto auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="19.03593664" viewBox="0 0 32.446 30.822">
                <path id="ic_grade_24px" d="M17,24.905,26.27,30.5,23.81,19.955,32,12.86l-10.785-.915L17,2l-4.215,9.945L2,12.86l8.19,7.095L7.73,30.5Z" transform="translate(-0.777 -0.719)" fill="#FFDF00"/>
              </svg>
              <p>{{p.product.rate}}</p>
            </div>
            
          </div>
          <div style="display: none; flex-direction: column; padding-right: 5px;" id="prod-detail">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              <h5>Sold</h5>
              <h5 id="sold">{{p.product.sold}}</h5>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              <h5>Store</h5>
              <h5>{{p.product.no_of_item}}</h5>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              <h5>Earned</h5>
              <h5 id="earned"></h5>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
              <a class="btn btn-default" style="background-color: rgb(43, 202, 43); color: white;">View</a>
              <a class="btn btn-danger">Delete</a>
            </div>
          </div>
			  </div>
      
        
      </div>
     {% endfor %}
    </div>
  </div>
</div>
<script>
  //var ex = document.getElementByClass("dr");
</script>

{% endblock %}
